## Dataset Cleaning

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# import the data files and assign to a dataframe

# setup path to original dataset
path = r'C:\Users\nicol\Chocolate Bar Analysis'
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'flavors_of_cacao.csv'), index_col = False)

In [3]:
#check the output
df.head()

,Company\n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,Unknown,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,Unknown,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,Unknown,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,Unknown,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,Unknown,Peru

In [4]:
df.shape

(1795, 9)

In [5]:
df.describe()

               REF  Review\nDate       Rating
count  1795.000000   1795.000000  1795.000000
mean   1035.904735   2012.325348     3.185933
std     552.886365      2.927210     0.478062
min       5.000000   2006.000000     1.000000
25%     576.000000   2010.000000     2.875000
50%    1069.000000   2013.000000     3.250000
75%    1502.000000   2015.000000     3.500000
max    1952.000000   2017.000000     5.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)          1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1795 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [7]:
df.dtypes

Company\n(Maker-if known)             object
Specific Bean Origin\nor Bar Name     object
REF                                    int64
Review\nDate                           int64
Cocoa\nPercent                        object
Company\nLocation                     object
Rating                               float64
Bean\nType                            object
Broad Bean\nOrigin                    object
dtype: object

In [8]:
df.columns

Index(['Company\n(Maker-if known)', 'Specific Bean Origin\nor Bar Name', 'REF',
       'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [9]:
#renaming columns
df.rename(columns = {'Company\n(Maker-if known)' : 'Company'}, inplace = True)
df.rename(columns = {'Specific Bean Origin\nor Bar Name' : 'Specific Bean Origin'}, inplace = True)
df.rename(columns = {'Review\nDate' : 'Review Date'}, inplace = True)
df.rename(columns = {'Cocoa\nPercent' : 'Cocoa Percent'}, inplace = True)
df.rename(columns = {'Company\nLocation' : 'Company Location'}, inplace = True)
df.rename(columns = {'Bean\nType' : 'Bean Type'}, inplace = True)
df.rename(columns = {'Broad Bean\nOrigin' : 'Broad Bean Origin'}, inplace = True)

In [10]:
#confirm column rename changes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company               1795 non-null   object
 1   Specific Bean Origin  1795 non-null   object
 2   REF                   1795 non-null   int64
 3   Review Date           1795 non-null   int64
 4   Cocoa Percent         1795 non-null   object
 5   Company Location      1795 non-null   object
 6   Rating                1795 non-null   float64
 7   Bean Type             1795 non-null   object
 8   Broad Bean Origin     1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [11]:
#checking the null value
df['Bean Type'].value_counts(dropna = True)

Bean Type
Unknown                     888
Trinitario                  419
Criollo                     153
Forastero                    87
Forastero (Nacional)         52
Blend                        41
Criollo, Trinitario          39
Forastero (Arriba)           37
Criollo (Porcelana)          10
Trinitario, Criollo           9
Forastero (Parazinho)         8
Forastero (Arriba) ASS        6
Nacional (Arriba)             3
Matina                        3
EET                           3
Beniano                       3
Criollo (Ocumare 61)          2
Trinitario, Forastero         2
Trinitario (85% Criollo)      2
Forastero (Catongo)           2
Criollo, Forastero            2
Amazon, ICS                   2
Criollo (Amarru)              2
Amazon mix                    2
Nacional                      2
Criollo (Ocumare)             1
Criollo (Ocumare 67)          1
Trinitario, TCGA              1
Trinitario (Amelonado)        1
Trinitario, Nacional          1
Forastero (Amelonado)         1
Forastero, Trinitario         1
Forastero (Arriba) ASSS       1
Forastero(Arriba, CCN)        1
Criollo, +                    1
Criollo (Wild)                1
Trinitario (Scavina)          1
Criollo (Ocumare 77)          1
CCN51                         1
Amazon                        1
Blend-Forastero,Criollo       1
Name: count, dtype: int64

In [12]:
df['Company'].value_counts(dropna = False)

Company
Soma                 47
Bonnat               27
Fresco               26
Pralus               25
A. Morin             23
                     ..
Chocablog             1
Marigold's Finest     1
Chloe Chocolat        1
Chequessett           1
Ki' Xocolatl          1
Name: count, Length: 416, dtype: int64

In [13]:
df.head()

,Company,Specific Bean Origin,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,Unknown,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,Unknown,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,Unknown,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,Unknown,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,Unknown,Peru

In [14]:
df.describe()

               REF  Review Date       Rating
count  1795.000000  1795.000000  1795.000000
mean   1035.904735  2012.325348     3.185933
std     552.886365     2.927210     0.478062
min       5.000000  2006.000000     1.000000
25%     576.000000  2010.000000     2.875000
50%    1069.000000  2013.000000     3.250000
75%    1502.000000  2015.000000     3.500000
max    1952.000000  2017.000000     5.000000

In [15]:
#Finding Duplicates
df_dups = df[df.duplicated()]

In [16]:
df_dups

Empty DataFrame
Columns: [Company, Specific Bean Origin, REF, Review Date, Cocoa Percent, Company Location, Rating, Bean Type, Broad Bean Origin]
Index: []

#### Dataset Cleaning Complete

## Questions to Explore

1. Where are the best cocoa beans grown?
2. Which countries produce the highest-rated bars?
3. Whatâ€™s the relationship between cocoa solids percentage and rating?

In [17]:
# Export df as df_clean
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_clean.csv'))